html,body {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    overflow: auto;
}

.App .container {
    padding: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container-flex-vertical >*:not(:last-child) {
    margin-bottom: 30px;
}

.character-profile-pic {
    background-position: center;
    background-size: cover;
    border-radius: 2px;
}

.text-center {
    text-align: center;
}

.btn-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.btn-home {
    background-color: #09d3ac !important;
    border: none !important;
}

/* Home Page*/
.home {
    text-align: center;
}

.home.container >*:not(:last-child) {
    margin-bottom: 30px;
}

.search-box-row {
    position: relative;
    margin-top: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.search-box-row .search-input {
    width: calc(100% - 24px);
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.buttons-row button + button {
    margin-left: 30px;
}

.buttons-row button {
    border: 1px solid #00000052;
    background: white;
    padding: 5px 20px;
    border-radius: 2px;
    cursor: pointer;
}

/*View Saved*/
.view-saved .character-list {
    margin-top: 5%;
}

/*Character List*/
.character-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 30px;
}

.character-list .character-container {
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    padding-bottom: 90%;
    border-radius: 2px;
    transition: .3s
}

.character-list .character-container:hover {
    cursor: pointer;
    background-size: 110% 110%;
}

.character-list .character-container:hover .delete-overlay {
    opacity: 1;
}

.character-list .character-container .name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5% 0;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: white;
}

.character-container .delete-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    font-weight: bold;
    font-size: 1.3rem;
    opacity: 0;
}

/*Auto Complete Container*/
.auto-complete-container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    border: 1px solid #e3e3e3;
    top: 100%;
    border-top: none;
    max-height: 300px;
    overflow: auto;
}

.result-row {
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.result-row:hover {
    background-color: lightskyblue;
    cursor: pointer;
    color: white;
}

.result-row .character-profile-pic {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.error-msg {
    padding: 10px;
    font-weight: 300;
    color: #c20000;
    font-style: italic;
    text-align: left;
}

/*Character Details*/
.overlay-container {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    z-index: 999;
}

.overlay-container .details-container {
    width: 50%;
    max-width: 700px;
    height: calc(100% - 60px);
    overflow: auto;
    padding: 30px;
    background-color: white;
    position: relative;
    text-align: left;
}

.overlay-container .details-container > div:not(:last-child) {
    margin-bottom: 20px;
}

.overlay-container .btn-close {
    position: sticky;
    left: 100%;
    padding: 3px 8px;
    border-radius: 50%;
    background: #e3e3e3;
    color: white;
    border: none;
    cursor: pointer;
    top: 0;
}

.overlay-container .character-profile-pic {
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
    margin-right: 10px;
    border-radius: 2px;
}

.overlay-container .details-container .label {
    font-weight: bold;
    line-height: 1.5;
    text-transform: capitalize;
}

.overlay-container .details-container .details {
    font-weight: 300;
    color: rgba(0,0,0,0.65);
    font-size: .9rem;
}

.details-container ul {
    padding-left: 15px;
    margin-top: 0;
}

.details-container ul > li:not(:last-child) {
    margin-bottom: 5px;
}

.details-container a {
    color: cornflowerblue;
}

.btn-save {
    background: #f31536;
    color: white;
    border: 1px solid red;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 30px;
    min-width: 150px;
    cursor: pointer;
}